In [40]:
import pandas as pd
import numpy as np
diabetic_data = "C:\\Diabetic data\\diabetic_data.csv"
df = pd.read_csv(diabetic_data)
df

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,443847548,100162476,AfricanAmerican,Male,[70-80),?,1,3,7,3,...,No,Down,No,No,No,No,No,Ch,Yes,>30
101762,443847782,74694222,AfricanAmerican,Female,[80-90),?,1,4,5,5,...,No,Steady,No,No,No,No,No,No,Yes,NO
101763,443854148,41088789,Caucasian,Male,[70-80),?,1,1,7,1,...,No,Down,No,No,No,No,No,Ch,Yes,NO
101764,443857166,31693671,Caucasian,Female,[80-90),?,2,3,7,10,...,No,Up,No,No,No,No,No,Ch,Yes,NO
101765,443867222,175429310,Caucasian,Male,[70-80),?,1,1,7,6,...,No,No,No,No,No,No,No,No,No,NO

In [41]:
print('Melt')
df.melt(id_vars=['patient_nbr', 'encounter_id'], value_vars=['time_in_hospital', 'num_lab_procedures', 'num_procedures', 'num_medications'])

Melt

        patient_nbr  encounter_id          variable  value
0           8222157       2278392  time_in_hospital      1
1          55629189        149190  time_in_hospital      3
2          86047875         64410  time_in_hospital      2
3          82442376        500364  time_in_hospital      2
4          42519267         16680  time_in_hospital      1
...             ...           ...               ...    ...
407059    100162476     443847548   num_medications     16
407060     74694222     443847782   num_medications     18
407061     41088789     443854148   num_medications      9
407062     31693671     443857166   num_medications     21
407063    175429310     443867222   num_medications      3

[407064 rows x 4 columns]

In [42]:
print('Pivot')
df.pivot(index = ['encounter_id'], columns =  'time_in_hospital', values = 'number_diagnoses')

Pivot

time_in_hospital,1,2,3,4,5,6,7,8,9,10,11,12,13,14
encounter_id,,,,,,,,,,,,,,
12522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN
15738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN
16680,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN
35754,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443847548,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
443847782,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
443854148,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
443857166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN
443867222,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
print('Aggregation')
df.agg({'num_procedures' : ['min', 'max'] , 'num_medications' : ['sum', 'min', 'max']})

Aggregation

     num_procedures  num_medications
min             0.0                1
max             6.0               81
sum             NaN          1630479

In [52]:
print('Iteration')
for key,value in df.items():
    print(key,value)

Iteration
encounter_id 0           2278392
1            149190
2             64410
3            500364
4             16680
            ...
101761    443847548
101762    443847782
101763    443854148
101764    443857166
101765    443867222
Name: encounter_id, Length: 101766, dtype: int64
patient_nbr 0           8222157
1          55629189
2          86047875
3          82442376
4          42519267
            ...
101761    100162476
101762     74694222
101763     41088789
101764     31693671
101765    175429310
Name: patient_nbr, Length: 101766, dtype: int64
race 0               Caucasian
1               Caucasian
2         AfricanAmerican
3               Caucasian
4               Caucasian
               ...
101761    AfricanAmerican
101762    AfricanAmerican
101763          Caucasian
101764          Caucasian
101765          Caucasian
Name: race, Length: 101766, dtype: object
gender 0         Female
1         Female
2         Female
3           Male
4           Male
           ...
101761      Male
101762    Female
101763      Male
101764    Female
101765      Male
Name: gender, Length: 101766, dtype: object
age 0          [0-10)
1         [10-20)
2         [20-30)
3         [30-40)
4         [40-50)
           ...
101761    [70-80)
101762    [80-90)
101763    [70-80)
101764    [80-90)
101765    [70-80)
Name: age, Length: 101766, dtype: object
weight 0         ?
1         ?
2         ?
3         ?
4         ?
         ..
101761    ?
101762    ?
101763    ?
101764    ?
101765    ?
Name: weight, Length: 101766, dtype: object
admission_type_id 0         6
1         1
2         1
3         1
4         1
         ..
101761    1
101762    1
101763    1
101764    2
101765    1
Name: admission_type_id, Length: 101766, dtype: int64
discharge_disposition_id 0         25
1          1
2          1
3          1
4          1
          ..
101761     3
101762     4
101763     1
101764     3
101765     1
Name: discharge_disposition_id, Length: 101766, dtype: int64
admission_source_id 0         1
1         7
2         7
3         7
4         7
         ..
101761    7
101762    5
101763    7
101764    7
101765    7
Name: admission_source_id, Length: 101766, dtype: int64
time_in_hospital 0          1
1          3
2          2
3          2
4          1
          ..
101761     3
101762     5
101763     1
101764    10
101765     6
Name: time_in_hospital, Length: 101766, dtype: int64
payer_code 0          ?
1          ?
2          ?
3          ?
4          ?
          ..
101761    MC
101762    MC
101763    MC
101764    MC
101765     ?
Name: payer_code, Length: 101766, dtype: object
medical_specialty 0         Pediatrics-Endocrinology
1                                ?
2                                ?
3                                ?
4                                ?
                    ...
101761                           ?
101762                           ?
101763                           ?
101764             Surgery-General
101765                           ?
Name: medical_specialty, Length: 101766, dtype: object
num_lab_procedures 0         41
1         59
2         11
3         44
4         51
          ..
101761    51
101762    33
101763    53
101764    45
101765    13
Name: num_lab_procedures, Length: 101766, dtype: int64
num_procedures 0         0
1         0
2         5
3         1
4         0
         ..
101761    0
101762    3
101763    0
101764    2
101765    3
Name: num_procedures, Length: 101766, dtype: int64
num_medications 0          1
1         18
2         13
3         16
4          8
          ..
101761    16
101762    18
101763     9
101764    21
101765     3
Name: num_medications, Length: 101766, dtype: int64
number_outpatient 0         0
1         0
2         2
3         0
4         0
         ..
101761    0
101762    0
101763    1
101764    0
101765    0
Name: number_outpatient, Length: 101766, dtype: int64
number_emergency 0         0
1         0
2         0
3         0
4         0
         ..
101761    0
101762    0
101763    0
101764    0
101765    0
Name: number_emergency, Length: 101766, dtype: int64
number_inpatient 0         0
1         0
2         1
3         0
4         0
         ..
101761    0
101762    1
101763    0
101764    1
101765    0
Name: number_inpatient, Length: 101766, dtype: int64
diag_1 0         250.83
1            276
2            648
3              8
4            197
           ...
101761    250.13
101762       560
101763        38
101764       996
101765       530
Name: diag_1, Length: 101766, dtype: object
diag_2 0              ?
1         250.01
2            250
3         250.43
4            157
           ...
101761       291
101762       276
101763       590
101764       285
101765       530
Name: diag_2, Length: 101766, dtype: object
diag_3 0           ?
1         255
2         V27
3         403
4         250
         ...
101761    458
101762    787
101763    296
101764    998
101765    787
Name: diag_3, Length: 101766, dtype: object
number_diagnoses 0          1
1          9
2          6
3          7
4          5
          ..
101761     9
101762     9
101763    13
101764     9
101765     9
Name: number_diagnoses, Length: 101766, dtype: int64
max_glu_serum 0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
101761    NaN
101762    NaN
101763    NaN
101764    NaN
101765    NaN
Name: max_glu_serum, Length: 101766, dtype: object
A1Cresult 0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
101761     >8
101762    NaN
101763    NaN
101764    NaN
101765    NaN
Name: A1Cresult, Length: 101766, dtype: object
metformin 0             No
1             No
2             No
3             No
4             No
           ...
101761    Steady
101762        No
101763    Steady
101764        No
101765        No
Name: metformin, Length: 101766, dtype: object
repaglinide 0         No
1         No
2         No
3         No
4         No
          ..
101761    No
101762    No
101763    No
101764    No
101765    No
Name: repaglinide, Length: 101766, dtype: object
nateglinide 0         No
1         No
2         No
3         No
4         No
          ..
101761    No
101762    No
101763    No
101764    No
101765    No
Name: nateglinide, Length: 101766, dtype: object
chlorpropamide 0         No
1         No
2         No
3         No
4         No
          ..
101761    No
101762    No
101763    No
101764    No
101765    No
Name: chlorpropamide, Length: 101766, dtype: object
glimepiride 0         No
1         No
2         No
3         No
4         No
          ..
101761    No
101762    No
101763    No
101764    No
101765    No
Name: glimepiride, Length: 101766, dtype: object
acetohexamide 0         No
1         No
2         No
3         No
4         No
          ..
101761    No
101762    No
101763    No
101764    No
101765    No
Name: acetohexamide, Length: 101766, dtype: object
glipizide 0             No
1             No
2         Steady
3             No
4         Steady
           ...
101761        No
101762        No
101763        No
101764    Steady
101765        No
Name: glipizide, Length: 101766, dtype: object
glyburide 0         No
1         No
2         No
3         No
4         No
          ..
101761    No
101762    No
101763    No
101764    No
101765    No
Name: glyburide, Length: 101766, dtype: object
tolbutamide 0         No
1         No
2         No
3         No
4         No
          ..
101761    No
101762    No
101763    No
101764    No
101765    No
Name: tolbutamide, Length: 101766, dtype: object
pioglitazone 0             No
1             No
2             No
3             No
4             No
           ...
101761        No
101762        No
101763        No
101764    Steady
101765        No
Name: pioglitazone, Length: 101766, dtype: object
rosiglitazone 0         No
1         No
2         No
3         No
4         No
          ..
101761    No
101762    No
101763    No
101764    No
101765    No
Name: rosiglitazone, Length: 101766, dtype: object
acarbose 0         No
1         No
2         No
3         No
4         No
          ..
101761    No
101762    No
101763    No
101764    No
101765    No
Name: acarbose, Length: 101766, dtype: object
miglitol 0         No
1         No
2         No
3         No
4         No
          ..
101761    No
101762    No
101763    No
101764    No
101765    No
Name: miglitol, Length: 101766, dtype: object
troglitazone 0         No
1         No
2         No
3         No
4         No
          ..
101761    No
101762    No
101763    No
101764    No
101765    No
Name: troglitazone, Length: 101766, dtype: object
tolazamide 0         No
1         No
2         No
3         No
4         No
          ..
101761    No
101762    No
101763    No
101764    No
101765    No
Name: tolazamide, Length: 101766, dtype: object
examide 0         No
1         No
2         No
3         No
4         No
          ..
101761    No
101762    No
101763    No
101764    No
101765    No
Name: examide, Length: 101766, dtype: object
citoglipton 0         No
1         No
2         No
3         No
4         No
          ..
101761    No
101762    No
101763    No
101764    No
101765    No
Name: citoglipton, Length: 101766, dtype: object
insulin 0             No
1             Up
2             No
3             Up
4         Steady
           ...
101761      Down
101762    Steady
101763      Down
101764        Up
101765        No
Name: insulin, Length: 101766, dtype: object
glyburide-metformin 0         No
1         No
2         No
3         No
4         No
          ..
101761    No
101762    No
101763    No
101764    No
101765    No
Name: glyburide-metformin, Length: 101766, dtype: object
glipizide-metformin 0         No
1         No
2         No
3         No
4         No
          ..
101761    No
101762    No
101763    No
101764    No
101765    No
Name: glipizide-metformin, Length: 101766, dtype: object
glimepiride-pioglitazone 0         No
1         No
2         No
3         No
4         No
          ..
101761    No
101762    No
101763    No
101764    No
101765    No
Name: glimepiride-pioglitazone, Length: 101766, dtype: object
metformin-rosiglitazone 0         No
1         No
2         No
3         No
4         No
          ..
101761    No
101762    No
101763    No
101764    No
101765    No
Name: metformin-rosiglitazone, Length: 101766, dtype: object
metformin-pioglitazone 0         No
1         No
2         No
3         No
4         No
          ..
101761    No
101762    No
101763    No
101764    No
101765    No
Name: metformin-pioglitazone, Length: 101766, dtype: object
change 0         No
1         Ch
2         No
3         Ch
4         Ch
          ..
101761    Ch
101762    No
101763    Ch
101764    Ch
101765    No
Name: change, Length: 101766, dtype: object
diabetesMed 0          No
1         Yes
2         Yes
3         Yes
4         Yes
         ...
101761    Yes
101762    Yes
101763    Yes
101764    Yes
101765     No
Name: diabetesMed, Length: 101766, dtype: object
readmitted 0          NO
1         >30
2          NO
3          NO
4          NO
         ...
101761    >30
101762     NO
101763     NO
101764     NO
101765     NO
Name: readmitted, Length: 101766, dtype: object

In [60]:
print('GroupBy')
gender_data = df.groupby('gender')[['time_in_hospital','num_lab_procedures', 'num_procedures', 'num_medications', 'number_diagnoses']].mean()
gender_data

GroupBy

,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_diagnoses
gender,,,,,
Female,4.478797,43.151769,1.244900,16.187888,7.428639
Male,4.299777,43.030964,1.449899,15.828775,7.415684
Unknown/Invalid,3.333333,34.000000,2.666667,16.333333,6.000000

In [61]:
age_data = df.groupby('age')[['time_in_hospital','num_lab_procedures', 'num_procedures', 'num_medications', 'number_diagnoses']].mean()
age_data

,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_diagnoses
age,,,,,
[0-10),2.546584,41.012422,0.180124,6.180124,2.695652
[10-20),3.191027,43.096961,0.335745,8.277858,3.947902
[20-30),3.564876,43.066385,0.767049,11.972842,5.866626
[30-40),3.799735,43.033642,1.113377,14.091656,6.452980
[40-50),4.039649,42.785958,1.341662,15.391017,6.948787
[50-60),4.125753,42.611961,1.556096,16.584492,7.238584
[60-70),4.382244,42.600632,1.573367,17.150425,7.506427
[70-80),4.590878,43.157396,1.377896,16.407818,7.651795
[80-90),4.808629,44.085015,1.023027,15.326685,7.888702
[90-100),4.755818,44.695310,0.670247,13.820265,7.884712

In [62]:
race_data = df.groupby('race')[['time_in_hospital','num_lab_procedures', 'num_procedures', 'num_medications', 'number_diagnoses']].mean()
race_data

,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_diagnoses
race,,,,,
?,4.289485,44.104707,1.302684,15.813462,6.695557
AfricanAmerican,4.507860,44.085060,1.234669,15.368922,7.108381
Asian,3.995320,41.212168,1.344774,13.291732,7.049922
Caucasian,4.385721,42.832941,1.369466,16.285733,7.544790
Hispanic,4.059892,42.793324,1.116838,14.030437,6.924399
Other,4.273572,43.436919,1.532537,15.185923,7.186587